<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Install-ipython-sql" data-toc-modified-id="Install-ipython-sql-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Install ipython-sql</a></span></li><li><span><a href="#Connect-database" data-toc-modified-id="Connect-database-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Connect database</a></span></li><li><span><a href="#Explore-database-structureº" data-toc-modified-id="Explore-database-structureº-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Explore database structureº</a></span></li><li><span><a href="#SELECT" data-toc-modified-id="SELECT-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>SELECT</a></span></li><li><span><a href="#Insert" data-toc-modified-id="Insert-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Insert</a></span></li><li><span><a href="#Update" data-toc-modified-id="Update-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Update</a></span></li><li><span><a href="#Create-table" data-toc-modified-id="Create-table-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Create table</a></span></li><li><span><a href="#Create-view" data-toc-modified-id="Create-view-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Create view</a></span></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Pandas</a></span></li></ul></div>

## Install ipython-sql

In [4]:
#!pip install ipython-sql

## Connect database

In [35]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [36]:
%sql sqlite:///data/tutorial.db

## Explore database structureº

In [37]:
%%sql
select name
from sqlite_master -- normalmente se llama information_schema

 * sqlite:///data/tutorial.db
Done.

[('Clientes',),
 ('Proveedores',),
 ('DetallePedido',),
 ('Productos',),
 ('Pedidos',),
 ('Empleados',),
 ('currency',)]

## SELECT

In [42]:
%%sql 
select count(*) num_clientes
from Clientes

 * sqlite:///data/tutorial.db
Done.

[(92,)]

In [38]:
%%sql
select *
from Clientes
limit 5

 * sqlite:///data/tutorial.db
Done.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Representante de ventas', 'Obere Str. 57', 'Berlin', '', '12209', 'Alemania', '030-0074321', '030-0076545'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Propietario', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México', '(5) 555-4729', '(5) 555-3745'),
 ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Propietario', 'Mataderos  2312', 'México D.F.', '', '05023', 'México', '(5) 555-3932', ''),
 ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Representante de ventas', '120 Hanover Sq.', 'Londres', '', 'WA1 1DP', 'Reino Unido', '(71) 555-7788', '(71) 555-6750'),
 ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Administrador de pedidos', 'Berguvsvägen  8', 'Luleå', '', 'S-958 22', 'Suecia', '0921-12 34 65', '0921-12 34 67')]

In [ ]:
%%sql
select Pais, Ciudad
from Clientes

In [ ]:
%%sql
select distinct Pais, Ciudad
from Clientes
order by Pais, Ciudad

In [6]:
%%sql
select distinct Pais, Ciudad
from Clientes
order by Pais, Ciudad
limit 5

 * sqlite:///data/tutorial.db
Done.

[('Alemania', 'Aachen'),
 ('Alemania', 'Berlin'),
 ('Alemania', 'Brandenburgo'),
 ('Alemania', 'Cunewalde'),
 ('Alemania', 'Francfurt')]

In [7]:
%%sql
select *
from Clientes
limit 5

 * sqlite:///data/tutorial.db
Done.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Representante de ventas', 'Obere Str. 57', 'Berlin', '', '12209', 'Alemania', '030-0074321', '030-0076545'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Propietario', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México', '(5) 555-4729', '(5) 555-3745'),
 ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Propietario', 'Mataderos  2312', 'México D.F.', '', '05023', 'México', '(5) 555-3932', ''),
 ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Representante de ventas', '120 Hanover Sq.', 'Londres', '', 'WA1 1DP', 'Reino Unido', '(71) 555-7788', '(71) 555-6750'),
 ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Administrador de pedidos', 'Berguvsvägen  8', 'Luleå', '', 'S-958 22', 'Suecia', '0921-12 34 65', '0921-12 34 67')]

In [9]:
%%sql
select *
from Clientes
where Pais='España'

 * sqlite:///data/tutorial.db
Done.

[('BOLID', 'Bólido Comidas preparadas', 'Martín Sommer', 'Propietario', 'C/ Araquil, 67', 'Madrid', '', '28023', 'España', '(91) 555 22 82', '(91) 555 91 99'),
 ('FISSA', 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'Gerente de contabilidad', 'C/ Moralzarzal, 86', 'Madrid', '', '28034', 'España', '(91) 555 94 44', '(91) 555 55 93'),
 ('GALED', 'Galería del gastrónomo', 'Eduardo Saavedra', 'Gerente de marketing', 'Rambla de Cataluña, 23', 'Barcelona', '', '08022', 'España', '(93) 203 4560', '(93) 203 4561'),
 ('GODOS', 'Godos Cocina Típica', 'José Pedro Freyre', 'Gerente de ventas', 'C/ Romero, 33', 'Sevilla', '', '41101', 'España', '(95) 555 82 82', ''),
 ('ROMEY', 'Romero y tomillo', 'Alejandra Camino', 'Gerente de contabilidad', 'Gran Vía, 1', 'Madrid', '', '28001', 'España', '(91) 745 6200', '(91) 745 6210')]

In [10]:
%%sql
select distinct Ciudad
from Clientes
where Pais='España'

 * sqlite:///data/tutorial.db
Done.

[('Madrid',), ('Barcelona',), ('Sevilla',)]

In [11]:
%%sql
select count(*) num_clientes
from Clientes c
where Pais='España'

 * sqlite:///data/tutorial.db
Done.

[(5,)]

In [12]:
%%sql
select count(distinct Ciudad) num_ciudades 
from Clientes c
where Pais='España'

 * sqlite:///data/tutorial.db
Done.

[(3,)]

In [13]:
%%sql
select *
from Productos
limit 20

 * sqlite:///data/tutorial.db
Done.

[('1', 'Té Dharamsala', '1', '10 cajas x 20 bolsas', 18.0, 39, 0, '10', 'False', '2131.0000'),
 ('2', 'Cerveza tibetana Barley', '1', '24 - bot. 12 l', 19.0, 17, 40, '25', 'False', ''),
 ('3', 'Sirope de regaliz', '1', '12 - bot. 550 ml', 10.0, 13, 70, '25', 'False', ''),
 ('4', 'Especias Cajun del chef Anton', '2', '48 - frascos 6 l', 22.0, 53, 0, '0', 'False', ''),
 ('5', 'Mezcla Gumbo del chef Anton', '2', '36 cajas', 21.35, 0, 0, '0', 'True', ''),
 ('6', 'Mermelada de grosellas de la abuela', '3', '12 - frascos 8 l', 25.0, 120, 0, '25', 'False', ''),
 ('7', 'Peras secas orgánicas del tío Bob', '3', '12 - paq. 1 kg', 30.0, 15, 0, '10', 'False', ''),
 ('8', 'Salsa de arándanos Northwoods', '3', '12 - frascos 12 l', 40.0, 6, 0, '0', 'False', ''),
 ('9', 'Buey Mishi Kobe', '4', '18 - paq. 500 g', 97.0, 29, 0, '0', 'True', ''),
 ('10', 'Pez espada', '4', '12 - frascos 200 ml', 31.0, 31, 0, '0', 'False', ''),
 ('11', 'Queso Cabrales', '5', 'paq. 1 kg', 21.0, 22, 30, '30', 'False', ''),
 ('12', 'Queso Manchego La Pastora', '5', '10 - paq. 500 g', 38.0, 86, 0, '0', 'False', ''),
 ('13', 'Algas Konbu', '6', 'caja 2 kg', 6.0, 24, 0, '5', 'False', ''),
 ('14', 'Cuajada de judías', '6', '40 - paq. 100 g', 23.25, 35, 0, '0', 'False', ''),
 ('15', 'Salsa de soja baja en sodio', '6', '24 - bot. 250 ml', 15.5, 39, 0, '5', 'False', ''),
 ('16', 'Postre de merengue Pavlova', '7', '32 - cajas 500 g', 17.45, 29, 0, '10', 'False', ''),
 ('17', 'Cordero Alice Springs', '7', '20 - latas 1 kg', 39.0, 0, 0, '0', 'True', ''),
 ('18', 'Langostinos tigre Carnarvon', '7', 'paq. 16 kg', 62.5, 42, 0, '0', 'False', ''),
 ('19', 'Pastas de té de chocolate', '8', '10 cajas x 12 piezas', 9.2, 25, 0, '5', 'False', ''),
 ('20', "Mermelada de Sir Rodney's", '8', '30 cajas regalo', 81.0, 40, 0, '0', 'False', '')]

In [14]:
%%sql
select NombreProducto producto, PrecioUnidad precio
from Productos
order by PrecioUnidad desc
limit 1

 * sqlite:///data/tutorial.db
Done.

[('Vino Côte de Blaye', 263.5)]

In [15]:
%%sql
select Pais, count(*) num_clientes
from Clientes
group by Pais
order by num_clientes desc

 * sqlite:///data/tutorial.db
Done.

[('Estados Unidos', 13),
 ('Francia', 11),
 ('Alemania', 11),
 ('Brasil', 9),
 ('Reino Unido', 7),
 ('México', 5),
 ('España', 5),
 ('Venezuela', 4),
 ('Italia', 3),
 ('Canadá', 3),
 ('Argentina', 3),
 ('Suiza', 2),
 ('Suecia', 2),
 ('Portugal', 2),
 ('Finlandia', 2),
 ('Dinamarca', 2),
 ('Bélgica', 2),
 ('Austria', 2),
 ('Polonia', 1),
 ('Noruega', 1),
 ('Irlanda', 1)]

In [16]:
%%sql
select max(PrecioUnidad) max_price, 
       min(PrecioUnidad) min_price, 
       round(avg(PrecioUnidad)) avg_price
from Productos
limit 20

 * sqlite:///data/tutorial.db
Done.

[(263.5, 2.5, 29.0)]

In [17]:
%%sql
select IdProveedor proveedor,
       max(PrecioUnidad) max_price, 
       min(PrecioUnidad) min_price, 
       round(avg(PrecioUnidad)) avg_price
from Productos
group by IdProveedor
order by (IdProveedor)

 * sqlite:///data/tutorial.db
Done.

[('1', 19.0, 10.0, 16.0),
 ('10', 4.5, 4.5, 5.0),
 ('11', 43.9, 14.0, 30.0),
 ('12', 123.79, 7.75, 45.0),
 ('13', 25.89, 25.89, 26.0),
 ('14', 34.8, 12.5, 26.0),
 ('15', 36.0, 2.5, 20.0),
 ('16', 18.0, 14.0, 15.0),
 ('17', 26.0, 15.0, 20.0),
 ('18', 263.5, 18.0, 141.0),
 ('19', 18.4, 9.65, 14.0),
 ('2', 22.0, 17.0, 20.0),
 ('20', 46.0, 14.0, 26.0),
 ('21', 12.0, 9.5, 11.0),
 ('22', 12.75, 9.5, 11.0),
 ('23', 20.0, 16.25, 18.0),
 ('24', 53.0, 7.0, 31.0),
 ('25', 24.0, 7.45, 16.0),
 ('26', 38.0, 19.5, 29.0),
 ('27', 13.25, 13.25, 13.0),
 ('28', 55.0, 34.0, 45.0),
 ('29', 49.3, 28.5, 39.0),
 ('3', 40.0, 25.0, 32.0),
 ('4', 97.0, 10.0, 46.0),
 ('5', 38.0, 21.0, 30.0),
 ('6', 23.25, 6.0, 15.0),
 ('7', 62.5, 15.0, 36.0),
 ('8', 81.0, 9.2, 28.0),
 ('9', 21.0, 9.0, 15.0)]

In [18]:
%%sql
select IdProveedor proveedor,
       max(PrecioUnidad) max_price, 
       min(PrecioUnidad) min_price, 
       round(avg(PrecioUnidad)) avg_price
from Productos
where Suspendido = 'False' and PrecioUnidad > 10
group by IdProveedor
order by (IdProveedor)
limit 5

 * sqlite:///data/tutorial.db
Done.

[('1', 19.0, 18.0, 19.0),
 ('11', 43.9, 14.0, 30.0),
 ('12', 33.25, 13.0, 23.0),
 ('13', 25.89, 25.89, 26.0),
 ('14', 34.8, 12.5, 26.0)]

In [19]:
%%sql
select IdProveedor proveedor,
       max(PrecioUnidad) max_price, 
       min(PrecioUnidad) min_price, 
       round(avg(PrecioUnidad)) avg_price
from Productos
where Suspendido = 'False' and PrecioUnidad > 10
group by IdProveedor
having avg_price > 50
order by (IdProveedor)

 * sqlite:///data/tutorial.db
Done.

[('18', 263.5, 18.0, 141.0), ('24', 53.0, 53.0, 53.0)]

In [20]:
%%sql
select NombreCompañia
from Proveedores
where IdProveedor='18'

 * sqlite:///data/tutorial.db
Done.

[('Aux joyeux ecclésiastiques',)]

In [21]:
%%sql
select *
from Productos join Proveedores on Productos.IdProveedor = Proveedores.IdProveedor

 * sqlite:///data/tutorial.db
Done.

[('1', 'Té Dharamsala', '1', '10 cajas x 20 bolsas', 18.0, 39, 0, '10', 'False', '2131.0000', '1', 'Exotic Liquids', 'Charlotte Cooper', 'Gerente de compras', '49 Gilbert St.', 'Londres', '', 'EC1 4SD', 'Reino Unido', '(171) 555-2222', '', ''),
 ('2', 'Cerveza tibetana Barley', '1', '24 - bot. 12 l', 19.0, 17, 40, '25', 'False', '', '1', 'Exotic Liquids', 'Charlotte Cooper', 'Gerente de compras', '49 Gilbert St.', 'Londres', '', 'EC1 4SD', 'Reino Unido', '(171) 555-2222', '', ''),
 ('3', 'Sirope de regaliz', '1', '12 - bot. 550 ml', 10.0, 13, 70, '25', 'False', '', '1', 'Exotic Liquids', 'Charlotte Cooper', 'Gerente de compras', '49 Gilbert St.', 'Londres', '', 'EC1 4SD', 'Reino Unido', '(171) 555-2222', '', ''),
 ('4', 'Especias Cajun del chef Anton', '2', '48 - frascos 6 l', 22.0, 53, 0, '0', 'False', '', '2', 'New Orleans Cajun Delights', 'Shelley Burke', 'Administrador de pedidos', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'Estados Unidos', '(100) 555-4822', '', 'CAJUN.HTM#CAJUN.HTM#'),
 ('5', 'Mezcla Gumbo del chef Anton', '2', '36 cajas', 21.35, 0, 0, '0', 'True', '', '2', 'New Orleans Cajun Delights', 'Shelley Burke', 'Administrador de pedidos', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'Estados Unidos', '(100) 555-4822', '', 'CAJUN.HTM#CAJUN.HTM#'),
 ('6', 'Mermelada de grosellas de la abuela', '3', '12 - frascos 8 l', 25.0, 120, 0, '25', 'False', '', '3', "Grandma Kelly's Homestead", 'Regina Murphy', 'Representante de ventas', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'Estados Unidos', '(313) 555-5735', '(313) 555-3349', ''),
 ('7', 'Peras secas orgánicas del tío Bob', '3', '12 - paq. 1 kg', 30.0, 15, 0, '10', 'False', '', '3', "Grandma Kelly's Homestead", 'Regina Murphy', 'Representante de ventas', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'Estados Unidos', '(313) 555-5735', '(313) 555-3349', ''),
 ('8', 'Salsa de arándanos Northwoods', '3', '12 - frascos 12 l', 40.0, 6, 0, '0', 'False', '', '3', "Grandma Kelly's Homestead", 'Regina Murphy', 'Representante de ventas', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'Estados Unidos', '(313) 555-5735', '(313) 555-3349', ''),
 ('9', 'Buey Mishi Kobe', '4', '18 - paq. 500 g', 97.0, 29, 0, '0', 'True', '', '4', 'Tokyo Traders', 'Yoshi Nagase', 'Gerente de marketing', '9-8 Sekimai\nMusashino-shi', 'Tokyo', '', '100', 'Japón', '(03) 3555-5011', '', ''),
 ('10', 'Pez espada', '4', '12 - frascos 200 ml', 31.0, 31, 0, '0', 'False', '', '4', 'Tokyo Traders', 'Yoshi Nagase', 'Gerente de marketing', '9-8 Sekimai\nMusashino-shi', 'Tokyo', '', '100', 'Japón', '(03) 3555-5011', '', ''),
 ('11', 'Queso Cabrales', '5', 'paq. 1 kg', 21.0, 22, 30, '30', 'False', '', '5', "Cooperativa de Quesos 'Las Cabras'", 'Antonio del Valle Saavedra ', 'Administrador de exportaciones', 'Calle del Rosal 4', 'Oviedo', 'Asturias', '33007', 'España', '(98) 598 76 54', '', ''),
 ('12', 'Queso Manchego La Pastora', '5', '10 - paq. 500 g', 38.0, 86, 0, '0', 'False', '', '5', "Cooperativa de Quesos 'Las Cabras'", 'Antonio del Valle Saavedra ', 'Administrador de exportaciones', 'Calle del Rosal 4', 'Oviedo', 'Asturias', '33007', 'España', '(98) 598 76 54', '', ''),
 ('13', 'Algas Konbu', '6', 'caja 2 kg', 6.0, 24, 0, '5', 'False', '', '6', "Mayumi's", 'Mayumi Ohno', 'Representante de marketing', '92 Setsuko\nChuo-ku', 'Osaka', '', '545', 'Japón', '(06) 431-7877', '', "Mayumi's (en el World Wide Web)#http://www.microsoft.com/accessdev/sampleapps/mayumi.htm#"),
 ('14', 'Cuajada de judías', '6', '40 - paq. 100 g', 23.25, 35, 0, '0', 'False', '', '6', "Mayumi's", 'Mayumi Ohno', 'Representante de marketing', '92 Setsuko\nChuo-ku', 'Osaka', '', '545', 'Japón', '(06) 431-7877', '', "Mayumi's (en el World Wide Web)#http://www.microsoft.com/accessdev/sampleapps/mayumi.htm#"),
 ('15', 'Salsa de soja baja en sodio', '6', '24 - bot. 250 ml', 15.5, 39, 0, '5', 'False', '', '6', "Mayumi's", 'Mayumi Ohno', 'Representante de marketing', '92 Setsuko\nChuo-ku', 'Osaka', '', '545', 'Japón', '(06) 431-7877', '', "Mayumi's (en el World Wide Web)#http://www.microsoft.com/accessdev/sampleapps/mayumi.htm#"),
 ('16', 'Postre de merengue Pavlova', '7', '32 - cajas 500 g', 17.45, 29, 0, '10', 'False', '', '7', 'Pavlova, Ltd.', 'Ian Devling', 'Gerente de marketing', '74 Rose St.\nMoonie Ponds', 'Melbourne', 'Victoria', '3058', 'Australia', '(03) 444-2343', '(03) 444-6588', ''),
 ('17', 'Cordero Alice Springs', '7', '20 - latas 1 kg', 39.0, 0, 0, '0', 'True', '', '7', 'Pavlova, Ltd.', 'Ian Devling', 'Gerente de marketing', '74 Rose St.\nMoonie Ponds', 'Melbourne', 'Victoria', '3058', 'Australia', '(03) 444-2343', '(03) 444-6588', ''),
 ('18', 'Langostinos tigre Carnarvon', '7', 'paq. 16 kg', 62.5, 42, 0, '0', 'False', '', '7', 'Pavlova, Ltd.', 'Ian Devling', 'Gerente de marketing', '74 Rose St.\nMoonie Ponds', 'Melbourne', 'Victoria', '3058', 'Australia', '(03) 444-2343', '(03) 444-6588', ''),
 ('19', 'Pastas de té de chocolate', '8', '10 cajas x 12 piezas', 9.2, 25, 0, '5', 'False', '', '8', 'Specialty Biscuits, Ltd.', 'Peter Wilson', 'Representante de ventas', "29 King's Way", 'Manchester', '', 'M14 GSD', 'Reino Unido', '(161) 555-4448', '', ''),
 ('20', "Mermelada de Sir Rodney's", '8', '30 cajas regalo', 81.0, 40, 0, '0', 'False', '', '8', 'Specialty Biscuits, Ltd.', 'Peter Wilson', 'Representante de ventas', "29 King's Way", 'Manchester', '', 'M14 GSD', 'Reino Unido', '(161) 555-4448', '', ''),
 ('21', "Bollos de Sir Rodney's", '8', '24 paq. x 4 piezas', 10.0, 3, 40, '5', 'False', '', '8', 'Specialty Biscuits, Ltd.', 'Peter Wilson', 'Representante de ventas', "29 King's Way", 'Manchester', '', 'M14 GSD', 'Reino Unido', '(161) 555-4448', '', ''),
 ('22', "Pan de centeno crujiente estilo Gustaf's", '9', '24 - paq. 500 g', 21.0, 104, 0, '25', 'False', '', '9', 'PB Knäckebröd AB', 'Lars Peterson', 'Agente de ventas', 'Kaloadagatan 13', 'Göteborg', '', 'S-345 67', 'Suecia', '031-987 65 43', '031-987 65 91', ''),
 ('23', 'Pan fino', '9', '12 - paq. 250 g', 9.0, 61, 0, '25', 'False', '', '9', 'PB Knäckebröd AB', 'Lars Peterson', 'Agente de ventas', 'Kaloadagatan 13', 'Göteborg', '', 'S-345 67', 'Suecia', '031-987 65 43', '031-987 65 91', ''),
 ('24', 'Refresco Guaraná Fantástica', '10', '12 - latas 355 ml', 4.5, 20, 0, '0', 'True', '', '10', 'Refrescos Americanas LTDA', 'Carlos Diaz', 'Gerente de marketing', 'Av. das Americanas 12.890', 'São Paulo', '', '5442', 'Brasil', '(11) 555 4640', '', ''),
 ('25', 'Crema de chocolate y nueces NuNuCa', '11', '20 - vasos  450 g', 14.0, 76, 0, '30', 'False', '', '11', 'Heli Süßwaren GmbH & Co. KG', 'Petra Winkler', 'Gerente de ventas', 'Tiergartenstraße 5', 'Berlín', '', '10785', 'Alemania', '(010) 9984510', '', ''),
 ('26', 'Ositos de goma Gumbär', '11', '100 - bolsas 250 g', 31.23, 15, 0, '0', 'False', '', '11', 'Heli Süßwaren GmbH & Co. KG', 'Petra Winkler', 'Gerente de ventas', 'Tiergartenstraße 5', 'Berlín', '', '10785', 'Alemania', '(010) 9984510', '', ''),
 ('27', 'Chocolate Schoggi', '11', '100 - piezas 100 g', 43.9, 49, 0, '30', 'False', '', '11', 'Heli Süßwaren GmbH & Co. KG', 'Petra Winkler', 'Gerente de ventas', 'Tiergartenstraße 5', 'Berlín', '', '10785', 'Alemania', '(010) 9984510', '', ''),
 ('28', 'Col fermentada Rössle', '12', '25 - latas 825 g', 45.6, 26, 0, '0', 'True', '', '12', 'Plutzer Lebensmittelgroßmärkte AG', 'Martin Bein', 'Ger. marketing internacional', 'Bogenallee 51', 'Frankfurt', '', '60439', 'Alemania', '(069) 992755', '', 'Plutzer (en el World Wide Web)#http://www.microsoft.com/accessdev/sampleapps/plutzer.htm#'),
 ('29', 'Salchicha Thüringer', '12', '50 bolsas x 30 salch', 123.79, 0, 0, '0', 'True', '', '12', 'Plutzer Lebensmittelgroßmärkte AG', 'Martin Bein', 'Ger. marketing internacional', 'Bogenallee 51', 'Frankfurt', '', '60439', 'Alemania', '(069) 992755', '', 'Plutzer (en el World Wide Web)#http://www.microsoft.com/accessdev/sampleapps/plutzer.htm#'),
 ('30', 'Arenque blanco del noroeste', '13', '10 - vasos 200 g', 25.89, 10, 0, '15', 'False', '', '13', 'Nord-Ost-Fisch Handelsgesellschaft mbH', 'Sven Petersen', 'Coordinador de mercados', 'Frahmredder 112a', 'Cuxhaven', '', '27478', 'Alemania', '(04721) 8713', '(04721) 8714', ''),
 ('31', 'Queso gorgonzola Telino', '14', '12 - paq. 100 g', 12.5, 0, 70, '20', 'False', '', '14', 'Formaggi Fortini s.r.l.', 'Elio Rossi', 'Representante de ventas', 'Viale Dante, 75', 'Ravenna', '', '48100', 'Italia', '(0544) 60323', '(0544) 60603', 'FORMAGGI.HTM#FORMAGGI.HTM#'),
 ('32', 'Queso Mascarpone Fabioli', '14', '24 - paq. 200 g', 32.0, 9, 40, '25', 'False', '', '14', 'Formaggi Fortini s.r.l.', 'Elio Rossi', 'Representante de ventas', 'Viale Dante, 75', 'Ravenna', '', '48100', 'Italia', '(0544) 60323', '(0544) 60603', 'FORMAGGI.HTM#FORMAGGI.HTM#'),
 ('33', 'Queso de cabra', '15', '500 g', 2.5, 112, 0, '20', 'False', '', '15', 'Norske Meierier', 'Beate Vileid', 'Gerente de marketing', 'Hatlevegen 5', 'Sandvika', '', '1320', 'Noruega', '(0)2-953010', '', ''),
 ('34', 'Cerveza Sasquatch', '16', '24 - bot. 12 l', 14.0, 111, 0, '15', 'False', '', '16', 'Bigfoot Breweries', 'Cheryl Saylor', 'Repr. de cuentas regional', '3400 - 8th Avenue\nSuite 210', 'Bend', 'OR', '97101', 'Estados Unidos', '(503) 555-9931', '', ''),
 ('35', 'Cerveza negra Steeleye', '16', '24 - bot. 12 l', 18.0, 20, 0, '15', 'False', '', '16', 'Bigfoot Breweries', 'Cheryl Saylor', 'Repr. de cuentas regional', '3400 - 8th Avenue\nSuite 210', 'Bend', 'OR', '97101', 'Estados Unidos', '(503) 555-9931', '', ''),
 ('36', 'Escabeche de arenque', '17', '24 - frascos 250 g', 19.0, 112, 0, '20', 'False', '', '17', 'Svensk Sjöföda AB', 'Michael Björn', 'Representante de ventas', 'Brovallavägen 231', 'Stockholm', '', 'S-123 45', 'Suecia', '08-123 45 67', '', ''),
 ('37', 'Salmón ahumado Gravad', '17', '12 - paq. 500 g', 26.0, 11, 50, '25', 'False', '', '17', 'Svensk Sjöföda AB', 'Michael Björn', 'Representante de ventas', 'Brovallavägen 231', 'Stockholm', '', 'S-123 45', 'Suecia', '08-123 45 67', '', ''),
 ('38', 'Vino Côte de Blaye', '18', '12 - bot. 75 cl', 263.5, 17, 0, '15', 'False', '', '18', 'Aux joyeux ecclésiastiques', 'Guylène Nodier', 'Gerente de ventas', '203, Rue des Francs-Bourgeois', 'París', '', '75004', 'Francia', '(1) 03.83.00.68', '(1) 03.83.00.62', ''),
 ('39', 'Licor verde Chartreuse', '18', '750 cc por bot.', 18.0, 69, 0, '5', 'False', '', '18', 'Aux joyeux ecclésiastiques', 'Guylène Nodier', 'Gerente de ventas', '203, Rue des Francs-Bourgeois', 'París', '', '75004', 'Francia', '(1) 03.83.00.68', '(1) 03.83.00.62', ''),
 ('40', 'Carne de cangrejo de Boston', '19', '24 - latas 4 l', 18.4, 123, 0, '30', 'False', '', '19', 'New England Seafood Cannery', 'Robb Merchant', 'Agente de cuentas al por mayor', 'Order Processing Dept.\n2100 Paul Revere Blvd.', 'Boston', 'MA', '02134', 'Estados Unidos', '(617) 555-3267', '(617) 555-3389', ''),
 ('41', 'Crema de almejas estilo Nueva Inglaterra', '19', '12 - latas 12 l', 9.65, 85, 0, '10', 'False', '', '19', 'New England Seafood Cannery', 'Robb Merchant', 'Agente de cuentas al por mayor', 'Order Processing Dept.\n2100 Paul Revere Blvd.', 'Boston', 'MA', '02134', 'Estados Unidos', '(617) 555-3267', '(617) 555-3389', ''),
 ('42', 'Tallarines de Singapur', '20', '32 - 1 kg paq.', 14.0, 26, 0, '0', 'True', '', '20', 'Leka Trading', 'Chandra Leka', 'Propietario', '471 Serangoon Loop, Suite #402', 'Singapore', '', '0512', 'Singapur', '555-8787', '', ''),
 ('43', 'Café de Malasia', '20', '16 - latas 500 g', 46.0, 17, 10, '25', 'False', '', '20', 'Leka Trading', 'Chandra Leka', 'Propietario', '471 Serangoon Loop, Suite #402', 'Singapore', '', '0512', 'Singapur', '555-8787', '', ''),
 ('44', 'Azúcar negra Malacca', '20', '20 - bolsas 2 kg', 19.45, 27, 0, '15', 'False', '', '20', 'Leka Trading', 'Chandra Leka', 'Propietario', '471 Serangoon Loop, Suite #402', 'Singapore', '', '0512', 'Singapur', '555-8787', '', ''),
 ('45', 'Arenque ahumado', '21', 'paq. 1k', 9.5, 5, 70, '15', 'False', '', '21', 'Lyngbysild', 'Niels Petersen', 'Gerente de ventas', 'Lyngbysild\nFiskebakken 10', 'Lyngby', '', '2800', 'Dinamarca', '43844108', '43844115', ''),
 ('46', 'Arenque salado', '21', '4 - vasos 450 g', 12.0, 95, 0, '0', 'False', '', '21', 'Lyngbysild', 'Niels Petersen', 'Gerente de ventas', 'Lyngbysild\nFiskebakken 10', 'Lyngby', '', '2800', 'Dinamarca', '43844108', '43844115', ''),
 ('47', 'Galletas Zaanse', '22', '10 - cajas 4 l', 9.5, 36, 0, '0', 'False', '', '22', 'Zaanse Snoepfabriek', 'Dirk Luchte', 'Gerente de contabilidad', 'Verkoop\nRijnweg 22', 'Zaandam', '', '9999 ZZ', 'Holanda', '(12345) 1212', '(12345) 1210', ''),
 ('48', 'Chocolate holandés', '22', '10 paq.', 12.75, 15, 70, '25', 'False', '', '22', 'Zaanse Snoepfabriek', 'Dirk Luchte', 'Gerente de contabilidad', 'Verkoop\nRijnweg 22', 'Zaandam', '', '9999 ZZ', 'Holanda', '(12345) 1212', '(12345) 1210', ''),
 ('49', 'Regaliz', '23', '24 - paq. 50 g', 20.0, 10, 60, '15', 'False', '', '23', 'Karkki Oy', 'Anne Heikkonen', 'Gerente de producción', 'Valtakatu 12', 'Lappeenranta', '', '53120', 'Finlandia', '(953) 10956', '', ''),
 ('50', 'Chocolate blanco', '23', '12 - barras 100 g', 16.25, 65, 0, '30', 'False', '', '23', 'Karkki Oy', 'Anne Heikkonen', 'Gerente de producción', 'Valtakatu 12', 'Lappeenranta', '', '53120', 'Finlandia', '(953) 10956', '', ''),
 ('51', 'Manzanas secas Manjimup', '24', '50 - paq. 300 g', 53.0, 20, 0, '10', 'False', '', '24', "G'day, Mate", 'Wendy Mackenzie', 'Representante de ventas', "170 Prince Edward Parade\nHunter's Hill", 'Sydney', 'NSW', '2042', 'Australia', '(02) 555-5914', '(02) 555-4873', "G'day Mate (en el World Wide Web)#http://www.microsoft.com/accessdev/sampleapps/gdaymate.htm#"),
 ('52', 'Cereales para Filo', '24', '16 - cajas 2 kg', 7.0, 38, 0, '25', 'False', '', '24', "G'day, Mate", 'Wendy Mackenzie', 'Representante de ventas', "170 Prince Edward Parade\nHunter's Hill", 'Sydney', 'NSW', '2042', 'Australia', '(02) 555-5914', '(02) 555-4873', "G'day Mate (en el World Wide Web)#http://www.microsoft.com/accessdev/sampleapps/gdaymate.htm#"),
 ('53', 'Empanada de carne', '24', '48 porc.', 32.8, 0, 0, '0', 'True', '', '24', "G'day, Mate", 'Wendy Mackenzie', 'Representante de ventas', "170 Prince Edward Parade\nHunter's Hill", 'Sydney', 'NSW', '2042', 'Australia', '(02) 555-5914', '(02) 555-4873', "G'day Mate (en el World Wide Web)#http://www.microsoft.com/accessdev/sampleapps/gdaymate.htm#"),
 ('54', 'Empanada de cerdo', '25', '16 tartas', 7.45, 21, 0, '10', 'False', '', '25', 'Ma Maison', 'Jean-Guy Lauzon', 'Gerente de marketing', '2960 Rue St. Laurent', 'Montréal', 'Québec', 'H1J 1C3', 'Canadá', '(514) 555-9022', '', ''),
 ('55', 'Paté chino', '25', '24 cajas x 2 tartas', 24.0, 115, 0, '20', 'False', '', '25', 'Ma Maison', 'Jean-Guy Lauzon', 'Gerente de marketing', '2960 Rue St. Laurent', 'Montréal', 'Québec', 'H1J 1C3', 'Canadá', '(514) 555-9022', '', ''),
 ('56', 'Gnocchi de la abuela Alicia', '26', '24 - paq. 250 g', 38.0, 21, 10, '30', 'False', '', '26', 'Pasta Buttini s.r.l.', 'Giovanni Giudici', 'Administrador de pedidos', 'Via dei Gelsomini, 153', 'Salerno', '', '84100', 'Italia', '(089) 6547665', '(089) 6547667', ''),
 ('57', 'Raviolis Angelo', '26', '24 - paq. 250 g', 19.5, 36, 0, '20', 'False', '', '26', 'Pasta Buttini s.r.l.', 'Giovanni Giudici', 'Administrador de pedidos', 'Via dei Gelsomini, 153', 'Salerno', '', '84100', 'Italia', '(089) 6547665', '(089) 6547667', ''),
 ('58', 'Caracoles de Borgoña', '27', '24 porc.', 13.25, 62, 0, '20', 'False', '', '27', 'Escargots Nouveaux', 'Marie Delamare', 'Gerente de ventas', '22, rue H. Voiron', 'Montceau', '', '71300', 'Francia', '85.57.00.07', '', ''),
 ('59', 'Raclet de queso Courdavault', '28', 'paq. 5 kg', 55.0, 79, 0, '0', 'False', '', '28', 'Gai pâturage', 'Eliane Noz', 'Representante de ventas', 'Bat. B\n3, rue des Alpes', 'Annecy', '', '74000', 'Francia', '38.76.98.06', '38.76.98.58', ''),
 ('60', 'Camembert Pierrot', '28', '15 - paq. 300 g', 34.0, 19, 0, '0', 'False', '', '28', 'Gai pâturage', 'Eliane Noz', 'Representante de ventas', 'Bat. B\n3, rue des Alpes', 'Annecy', '', '74000', 'Francia', '38.76.98.06', '38.76.98.58', ''),
 ('61', 'Sirope de arce', '29', '24 - bot. 500 ml', 28.5, 113, 0, '25', 'False', '', '29', "Forêts d'érables", 'Chantal Goulet', 'Gerente de contabilidad', '148 rue Chasseur', 'Ste-Hyacinthe', 'Québec', 'J2S 7S8', 'Canadá', '(514) 555-2955', '(514) 555-2921', ''),
 ('62', 'Tarta de azúcar', '29', '48 tartas', 49.3, 17, 0, '0', 'False', '', '29', "Forêts d'érables", 'Chantal Goulet', 'Gerente de contabilidad', '148 rue Chasseur', 'Ste-Hyacinthe', 'Québec', 'J2S 7S8', 'Canadá', '(514) 555-2955', '(514) 555-2921', ''),
 ('63', 'Sandwich de vegetales', '7', '15 - frascos 625 g', 43.9, 24, 0, '5', 'False', '', '7', 'Pavlova, Ltd.', 'Ian Devling', 'Gerente de marketing', '74 Rose St.\nMoonie Ponds', 'Melbourne', 'Victoria', '3058', 'Australia', '(03) 444-2343', '(03) 444-6588', ''),
 ('64', 'Bollos de pan de Wimmer', '12', '20 bolsas x 4 porc.', 33.25, 22, 80, '30', 'False', '', '12', 'Plutzer Lebensmittelgroßmärkte AG', 'Martin Bein', 'Ger. marketing internacional', 'Bogenallee 51', 'Frankfurt', '', '60439', 'Alemania', '(069) 992755', '', 'Plutzer (en el World Wide Web)#http://www.microsoft.com/accessdev/sampleapps/plutzer.htm#'),
 ('65', 'Salsa de pimiento picante de Luisiana', '2', '32 - bot. 8 l', 21.05, 76, 0, '0', 'False', '', '2', 'New Orleans Cajun Delights', 'Shelley Burke', 'Administrador de pedidos', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'Estados Unidos', '(100) 555-4822', '', 'CAJUN.HTM#CAJUN.HTM#'),
 ('66', 'Especias picantes de Luisiana', '2', '24 - frascos 8 l', 17.0, 4, 100, '20', 'False', '', '2', 'New Orleans Cajun Delights', 'Shelley Burke', 'Administrador de pedidos', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'Estados Unidos', '(100) 555-4822', '', 'CAJUN.HTM#CAJUN.HTM#'),
 ('67', 'Cerveza Laughing Lumberjack', '16', '24 - bot. 12 l', 14.0, 52, 0, '10', 'False', '', '16', 'Bigfoot Breweries', 'Cheryl Saylor', 'Repr. de cuentas regional', '3400 - 8th Avenue\nSuite 210', 'Bend', 'OR', '97101', 'Estados Unidos', '(503) 555-9931', '', ''),
 ('68', 'Barras de pan de Escocia', '8', '10 cajas x 8 porc.', 12.5, 6, 10, '15', 'False', '', '8', 'Specialty Biscuits, Ltd.', 'Peter Wilson', 'Representante de ventas', "29 King's Way", 'Manchester', '', 'M14 GSD', 'Reino Unido', '(161) 555-4448', '', ''),
 ('69', 'Queso Gudbrandsdals', '15', 'paq. 10 kg', 36.0, 26, 0, '15', 'False', '', '15', 'Norske Meierier', 'Beate Vileid', 'Gerente de marketing', 'Hatlevegen 5', 'Sandvika', '', '1320', 'Noruega', '(0)2-953010', '', ''),
 ('70', 'Cerveza Outback', '7', '24 - bot. 355 ml', 15.0, 15, 10, '30', 'False', '', '7', 'Pavlova, Ltd.', 'Ian Devling', 'Gerente de marketing', '74 Rose St.\nMoonie Ponds', 'Melbourne', 'Victoria', '3058', 'Australia', '(03) 444-2343', '(03) 444-6588', ''),
 ('71', 'Crema de queso Fløtemys', '15', '10 - paq. 500 g', 21.5, 26, 0, '0', 'False', '', '15', 'Norske Meierier', 'Beate Vileid', 'Gerente de marketing', 'Hatlevegen 5', 'Sandvika', '', '1320', 'Noruega', '(0)2-953010', '', ''),
 ('72', 'Queso Mozzarella Giovanni', '14', '24 - paq. 200 g', 34.8, 14, 0, '0', 'False', '', '14', 'Formaggi Fortini s.r.l.', 'Elio Rossi', 'Representante de ventas', 'Viale Dante, 75', 'Ravenna', '', '48100', 'Italia', '(0544) 60323', '(0544) 60603', 'FORMAGGI.HTM#FORMAGGI.HTM#'),
 ('73', 'Caviar rojo', '17', '24 - frascos150 g', 15.0, 101, 0, '5', 'False', '', '17', 'Svensk Sjöföda AB', 'Michael Björn', 'Representante de ventas', 'Brovallavägen 231', 'Stockholm', '', 'S-123 45', 'Suecia', '08-123 45 67', '', ''),
 ('74', 'Queso de soja Longlife', '4', 'paq. 5 kg', 10.0, 4, 20, '5', 'False', '', '4', 'Tokyo Traders', 'Yoshi Nagase', 'Gerente de marketing', '9-8 Sekimai\nMusashino-shi', 'Tokyo', '', '100', 'Japón', '(03) 3555-5011', '', ''),

In [22]:
%%sql
select NombreCompañia proveedor,
       max(PrecioUnidad) max_price, 
       min(PrecioUnidad) min_price, 
       round(avg(PrecioUnidad)) avg_price
from Productos p join Proveedores pp on p.IdProveedor = pp.IdProveedor 
where Suspendido = 'False' and PrecioUnidad > 10
group by NombreCompañia
having avg_price > 50
order by (NombreCompañia)

 * sqlite:///data/tutorial.db
Done.

[('Aux joyeux ecclésiastiques', 263.5, 18.0, 141.0),
 ("G'day, Mate", 53.0, 53.0, 53.0)]

In [34]:
%%sql
select min(FechaEntrega), max(FechaEntrega)
from Pedidos
limit 10

 * sqlite:///data/tutorial.db
Done.

[('1996-07-24 00:00:00', '1998-06-11 00:00:00')]

## Insert

In [41]:
%%sql 
insert into Clientes (IdCliente, NombreCompañia, Ciudad, Pais)
values ('IRNK','Ironhack','Barcelona', 'España')

 * sqlite:///data/tutorial.db
1 rows affected.

[]

In [43]:
%%sql
select *
from Clientes
where IdCliente = 'IRNK'

 * sqlite:///data/tutorial.db
Done.

[('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None)]

## Update

In [44]:
%%sql
update Clientes
set NombreContacto = 'Carla Hernandez', CodPostal = '08023'
where IdCliente = 'IRNK'

 * sqlite:///data/tutorial.db
1 rows affected.

[]

In [45]:
%%sql
select *
from Clientes
where IdCliente = 'IRNK'

 * sqlite:///data/tutorial.db
Done.

[('IRNK', 'Ironhack', 'Carla Hernandez', None, None, 'Barcelona', None, '08023', 'España', None, None)]

In [46]:
%%sql 
select *
from Clientes 
where Pais = 'España'

 * sqlite:///data/tutorial.db
Done.

[('BOLID', 'Bólido Comidas preparadas', 'Martín Sommer', 'Propietario', 'C/ Araquil, 67', 'Madrid', '', '28023', 'España', '(91) 555 22 82', '(91) 555 91 99'),
 ('FISSA', 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'Gerente de contabilidad', 'C/ Moralzarzal, 86', 'Madrid', '', '28034', 'España', '(91) 555 94 44', '(91) 555 55 93'),
 ('GALED', 'Galería del gastrónomo', 'Eduardo Saavedra', 'Gerente de marketing', 'Rambla de Cataluña, 23', 'Barcelona', '', '08022', 'España', '(93) 203 4560', '(93) 203 4561'),
 ('GODOS', 'Godos Cocina Típica', 'José Pedro Freyre', 'Gerente de ventas', 'C/ Romero, 33', 'Sevilla', '', '41101', 'España', '(95) 555 82 82', ''),
 ('ROMEY', 'Romero y tomillo', 'Alejandra Camino', 'Gerente de contabilidad', 'Gran Vía, 1', 'Madrid', '', '28001', 'España', '(91) 745 6200', '(91) 745 6210'),
 ('IRNK', 'Ironhack', 'Carla Hernandez', None, None, 'Barcelona', None, '08023', 'España', None, None)]

In [51]:
%%sql
insert into Pedidos (IdCliente, FechaPedido, Cargo)
select 'IRNK', '2021-11-23', Cargo
from Pedidos
where IdCliente = 'BOLID'

 * sqlite:///data/tutorial.db
3 rows affected.

[]

In [56]:
%%sql 
select p.*, c.NombreCompañia, c.Pais
from Clientes c inner join Pedidos p on p.IdCliente = c.IdCliente
where Pais = 'España'
order by FechaPedido desc
limit 10

 * sqlite:///data/tutorial.db
Done.

[('790', 'GODOS', '26', '1998-04-21 00:00:00', '1998-05-19 00:00:00', '1998-04-27 00:00:00', 3.2, 'Godos Cocina Típica', 'C/ Romero, 33', 'Sevilla', '', '41101', 'España', 'Godos Cocina Típica', 'España'),
 ('766', 'ROMEY', '21', '1998-04-09 00:00:00', '1998-05-07 00:00:00', '1998-04-10 00:00:00', 32.99, 'Romero y tomillo', 'Gran Vía, 1', 'Madrid', '', '28001', 'España', 'Romero y tomillo', 'España'),
 ('762', 'GODOS', '21', '1998-04-08 00:00:00', '1998-05-06 00:00:00', '1998-04-10 00:00:00', 59.11, 'Godos Cocina Típica', 'C/ Romero, 33', 'Sevilla', '', '41101', 'España', 'Godos Cocina Típica', 'España'),
 ('723', 'BOLID', '28', '1998-03-24 00:00:00', '1998-04-07 00:00:00', '1998-04-24 00:00:00', 16.16, 'Bólido Comidas preparadas', 'C/ Araquil, 67', 'Madrid', '', '28023', 'España', 'Bólido Comidas preparadas', 'España'),
 ('701', 'GODOS', '22', '1998-03-13 00:00:00', '1998-04-10 00:00:00', '1998-03-19 00:00:00', 23.39, 'Godos Cocina Típica', 'C/ Romero, 33', 'Sevilla', '', '41101', 'España', 'Godos Cocina Típica', 'España'),
 ('681', 'GALED', '20', '1998-03-05 00:00:00', '1998-04-02 00:00:00', '1998-03-18 00:00:00', 1.36, 'Galería del gastronómo', 'Rambla de Cataluña, 23', 'Barcelona', '', '8022', 'España', 'Galería del gastrónomo', 'España'),
 ('670', 'ROMEY', '23', '1998-03-02 00:00:00', '1998-03-30 00:00:00', '1998-03-11 00:00:00', 8.29, 'Romero y tomillo', 'Gran Vía, 1', 'Madrid', '', '28001', 'España', 'Romero y tomillo', 'España'),
 ('664', 'GODOS', '22', '1998-02-26 00:00:00', '1998-03-26 00:00:00', '1998-03-05 00:00:00', 38.19, 'Godos Cocina Típica', 'C/ Romero, 33', 'Sevilla', '', '41101', 'España', 'Godos Cocina Típica', 'España'),
 ('641', 'GODOS', '20', '1998-02-16 00:00:00', '1998-03-16 00:00:00', '1998-02-23 00:00:00', 51.87, 'Godos Cocina Típica', 'C/ Romero, 33', 'Sevilla', '', '41101', 'España', 'Godos Cocina Típica', 'España'),
 ('640', 'GALED', '27', '1998-02-13 00:00:00', '1998-03-13 00:00:00', '1998-02-16 00:00:00', 1.25, 'Galería del gastronómo', 'Rambla de Cataluña, 23', 'Barcelona', '', '8022', 'España', 'Galería del gastrónomo', 'España')]

In [55]:
%%sql
delete 
from Pedidos
where IdPedido is null

 * sqlite:///data/tutorial.db
3 rows affected.

[]

## Create table

In [58]:
%%sql
select sql
from sqlite_master
where name = 'Clientes'

 * sqlite:///data/tutorial.db
Done.

[('CREATE TABLE "Clientes" (\n\t`IdCliente`\tTEXT,\n\t`NombreCompañia`\tTEXT,\n\t`NombreContacto`\tTEXT,\n\t`CargoContacto`\tTEXT,\n\t`Direccion`\tTEXT,\n\t`Ciudad`\tTEXT,\n\t`Region`\tTEXT,\n\t`CodPostal`\tTEXT,\n\t`Pais`\tTEXT,\n\t`Telefono`\tTEXT,\n\t`Fax`\tTEXT\n)',)]

In [61]:
%%sql
CREATE TABLE "Clients" (
`IdCliente` TEXT,
`NombreCompañia` TEXT,
`NombreContacto` TEXT,
`CargoContacto` TEXT,
`Direccion` TEXT,
`Ciudad` TEXT,
`Region` TEXT,
`CodPostal` TEXT,
`Pais` TEXT,
`Telefono` TEXT,
`Fax` TEXT
)

 * sqlite:///data/tutorial.db
Done.

[]

In [62]:
%%sql
select name from sqlite_master

 * sqlite:///data/tutorial.db
Done.

[('Clientes',),
 ('Proveedores',),
 ('DetallePedido',),
 ('Productos',),
 ('Pedidos',),
 ('Empleados',),
 ('currency',),
 ('Clients',)]

In [63]:
%%sql
select * from Clients

 * sqlite:///data/tutorial.db
Done.

[]

In [64]:
%%sql
insert into Clients
select * from Clientes

 * sqlite:///data/tutorial.db
92 rows affected.

[]

In [72]:
%%sql
select * from Clients limit 10

 * sqlite:///data/tutorial.db
(sqlite3.OperationalError) no such table: Clients
[SQL: select * from Clients limit 10]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [67]:
%%sql
delete from Clients

 * sqlite:///data/tutorial.db
92 rows affected.

[]

In [69]:
%%sql
insert into Clients
select * from Clientes where Pais != 'España'

 * sqlite:///data/tutorial.db
86 rows affected.

[]

In [71]:
%%sql
drop table Clients

 * sqlite:///data/tutorial.db
Done.

[]

In [74]:
%%sql
create table Clients as
select *
from Clientes
where Pais != 'España'

 * sqlite:///data/tutorial.db
Done.

[]

## Create view

In [81]:
%%sql
create view PedidosEspaña as
select NombreCompañia, p.*
from Pedidos p inner join Clientes c on c.IdCliente = p.IdCLiente
where Pais = 'España'

 * sqlite:///data/tutorial.db
(sqlite3.OperationalError) near "view": syntax error
[SQL: replace view PedidosEspaña as
select NombreCompañia, p.*
from Pedidos p inner join Clientes c on c.IdCliente = p.IdCLiente
where Pais = 'España']
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [84]:
%%sql
with PedidosSpain as
(select NombreCompañia, p.*
from Pedidos p inner join Clientes c on c.IdCliente = p.IdCLiente
where Pais = 'España' )
select count(*) from PedidosSpain

 * sqlite:///data/tutorial.db
Done.

[(23,)]

In [86]:
%%sql
select count(*) from PedidosSpain

 * sqlite:///data/tutorial.db
(sqlite3.OperationalError) no such table: PedidosSpain
[SQL: select count(*) from PedidosSpain]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [85]:
%%sql
select count(*) from PedidosEspaña

 * sqlite:///data/tutorial.db
Done.

[(23,)]

In [93]:
%%sql
select * from Clientes where IdCLiente = 'IRNK'

 * sqlite:///data/tutorial.db
Done.

[('IRNK', 'Ironhack', 'Carla Hernandez', 'Desconocido', 'Calle Pamplona 98', 'Barcelona', 'NA', '08023', 'España', None, None)]

In [88]:
%%sql
update Clientes set Direccion = 'Calle Pamplona 98' where IdCliente = 'IRNK'

 * sqlite:///data/tutorial.db
1 rows affected.

[]

In [90]:
%%sql
update Clientes set Region = 'NA' where Region is null

 * sqlite:///data/tutorial.db
1 rows affected.

[]

In [92]:
%%sql
update Clientes set CargoContacto = 'Desconocido' where CargoContacto is null

 * sqlite:///data/tutorial.db
1 rows affected.

[]

In [79]:
%%sql
select IdCliente, count(*)
from PedidosEspaña
group by IdCliente

 * sqlite:///data/tutorial.db
Done.

[('BOLID', 3), ('GALED', 5), ('GODOS', 10), ('ROMEY', 5)]

## Pandas

In [23]:
import pandas as pd

In [24]:
db_url='sqlite:///data/tutorial.db'

In [25]:
avg_price = 50
query = f'''
select NombreCompañia proveedor,
       max(PrecioUnidad) max_price, 
       min(PrecioUnidad) min_price, 
       round(avg(PrecioUnidad)) avg_price
from Productos p join 
     Proveedores pp on p.IdProveedor = pp.IdProveedor 
where Suspendido = 'False' and PrecioUnidad > 10
group by NombreCompañia
having avg_price > {avg_price}
order by (NombreCompañia)
'''

In [26]:
print(query)

select NombreCompañia proveedor,
       max(PrecioUnidad) max_price,
       min(PrecioUnidad) min_price,
       round(avg(PrecioUnidad)) avg_price
from Productos p join
     Proveedores pp on p.IdProveedor = pp.IdProveedor
where Suspendido = 'False' and PrecioUnidad > 10
group by NombreCompañia
having avg_price > 50
order by (NombreCompañia)

In [27]:
df = pd.read_sql(query, db_url)

In [28]:
df

                    proveedor  max_price  min_price  avg_price
0  Aux joyeux ecclésiastiques      263.5       18.0      141.0
1                 G'day, Mate       53.0       53.0       53.0

In [69]:
df.to_csv('proveedores.csv')